.random-beer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'RobotoSlab-Regular';
    background-color: #f8f9fa;
    color: #343a40;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.beer-image {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: left;
}

.description {
    margin-bottom: 20px;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFCA41;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.navbar-logo {
    max-height: 40px;
    cursor: pointer;
}

.page-content {
    padding-bottom: 90px;
}
